.profile-content-wrapper > .artbutton{
    color: white;
}

/* master styles */
body {
    margin: 0px;
    font-family: "Lato", sans-serif;
    display: flex;
    flex-direction: column;
}

html, body{
    height: 100%;
}

.container{
    flex: 10 auto;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 1fr;
}

/* nav styles */
.nav-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-nav{
    display: flex;
}

.nav-wrapper > .left-nav > div{
    margin-right: 20px;
    font-size: .9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom  0.5s;
}

.nav-link-wrapper a{
    color: grey;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover{
    border-bottom: 1px solid black;

}

.nav-link-wrapper a:hover{
    color: black;
    
}

/* painting styles */

.painting-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.painting-item-wrapper{
    position: relative; /* required for nested absolutes position*/
}

.painting-img-background {
    height: 350px;
    width: 100%;
    background-size: cover; /* crops the images of different sizes so they sit next to each other*/
    background-position: center;
    background-repeat: no-repeat;

}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;

    padding-left: 0;
    padding-right: 0;
    font-weight:600;
    color: transparent;
}

.img-text-wrapper:hover{
    transition: 1s;
    color:white;
    font-weight: 300;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.active-nav-link{
    border-bottom: 1px solid black;
}

.active-nav-link a{
    color: black !important;
}
/*more coming*/
.more-coming{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: lightgreen;

}

.more-coming > .more-coming-update {
    color: transparent;
}

.more-coming:hover > .more-coming-update{
    transition: 1s;
    color:black;
}
/* about page */

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
    width: 100%;

}

.profile-content-wrapper{
    padding: 30px;
}

.profile-content-wrapper h1{
    color: lightgreen;
}

.profile-content-wrapper > .about-link{
    color: lightgreen;
    text-decoration: none;
    font-weight: 600;
}

/* purchase form*/

form{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-style: solid;
    margin-left: 300px;
    margin-right: 300px;
    border-color: lightgreen;
    border-width: 10px;
    width: 100%;
    height: cover;
}

input{
    outline: none;
    
}

.form-wrapper{
    display: flex;
    flex-direction: row;
}

/* bottom bar */

.bottom-nav-wrapper{
    flex-shrink: 0;
    color:black;
    display: flex;
    justify-content: space-between;
    
    padding: 38px;
    background-color: lightgreen;
    bottom: 0px;
}

.copyright{
    padding-top: 20px;
}
.icons{
    display: flex;
}
.icon{
    padding: 15px;
    color: gray;
}
.icon:hover{
    padding-top: 22px;
    transition: .5s;
}

/*miscellaneous button stuff*/

button{
    font-family: "lato", sans-serif;
    color: white;
    font-weight: 600;
    font-size: large;
    background-color: lightgreen;
    border-style: solid;
    border-radius: 10px;
    border-color: lightgreen;
    text-decoration: none;

}

button a{
    text-decoration: none;
    color: white;
}

input{
    border-style: solid;
    border-width: 2px;
    border-radius: 0px;
    font-family: "Lato", sans-serif;
    font-size: larger;
    
}
select{
    font-family: "Lato", sans-serif;
    font-size: larger;
    border-style: solid;
    border-width: 2px;
    

}

/*feautured charity banner*/

.featured-charity-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;

    border-style: solid;
    border-color: lightgreen;
    border-width: 5px;
}

.featured-charity-wrapper a{
    color:lightgreen;
    text-decoration: none;
}
.featured-charity-wrapper > .charity-content{
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
    
}

.featured-charity-wrapper > .featured-charity-learn-more > p>  a:hover >h3{
    color: black;
    transition: 1s;
    
}

